@font-face {
  font-family: "iconfont"; /* Project id 2730531 */
  src: url('iconfont.woff2?t=1628424211039') format('woff2'),
       url('iconfont.woff?t=1628424211039') format('woff'),
       url('iconfont.ttf?t=1628424211039') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e6c7";
}

.icon-caidan:before {
  content: "\e62f";
}

.icon-14:before {
  content: "\e60e";
}

.icon-bofang:before {
  content: "\e66a";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-redupaixu:before {
  content: "\e64a";
}

.icon-mima:before {
  content: "\e65c";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-jian:before {
  content: "\e633";
}

.icon-huiyuantequanb:before {
  content: "\e6c5";
}

.icon-weibo:before {
  content: "\e619";
}

.icon-qq:before {
  content: "\e603";
}

.icon-huiyuan:before {
  content: "\e629";
}

.icon-048caozuo_xiayishou:before {
  content: "\e624";
}

.icon-shengyin:before {
  content: "\e628";
}

.icon-gengduo:before {
  content: "\e639";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-paihangbang_paiming:before {
  content: "\e658";
}

.icon-youjian:before {
  content: "\e65d";
}

.icon-shuruzhong:before {
  content: "\e60d";
}

.icon-cansaitubiaozhuanqu-:before {
  content: "\e604";
}

.icon-heijiaochangpianji:before {
  content: "\e63b";
}

.icon-yinle:before {
  content: "\e63a";
}

.icon-tubiaozhizuomobanyihuifu-:before {
  content: "\e6a0";
}

.icon-Group-:before {
  content: "\e6a9";
}

.icon-huiyuanguanhuai:before {
  content: "\e61a";
}

.icon-pifu:before {
  content: "\e743";
}

.icon-phone:before {
  content: "\e60f";
}

.icon-huiyuan1:before {
  content: "\e61d";
}

.icon-bofang1:before {
  content: "\e63c";
}

.icon-wenhao:before {
  content: "\e669";
}

.icon-zuihouyiyemoyexiayishou:before {
  content: "\e76d";
}

.icon-shangshengzengjia:before {
  content: "\e776";
}

.icon-icon-test:before {
  content: "\e634";
}

.icon-qq1:before {
  content: "\e746";
}

.icon-weibiaoti-:before {
  content: "\e60c";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-icon-test1:before {
  content: "\e609";
}

.icon-zhuxiao-xianxing:before {
  content: "\e605";
}

.icon-shipin:before {
  content: "\e71f";
}

.icon-xihuan:before {
  content: "\e6ae";
}

.icon-suoxiao:before {
  content: "\e6c8";
}

.icon-xianxingtubiao_huabanfuben:before {
  content: "\e625";
}

.icon-farenzhuxiao:before {
  content: "\e8bc";
}

.icon-download-fill:before {
  content: "\e61b";
}

.icon-ziyuan:before {
  content: "\e612";
}

.icon-xinbaniconshangchuan-:before {
  content: "\e606";
}

.icon-ziyuan1:before {
  content: "\e610";
}

.icon-wangyiyunyinle-:before {
  content: "\e62c";
}

.icon-wangyizhifu-:before {
  content: "\e63d";
}

.icon-xiaolian:before {
  content: "\e616";
}

.icon-gedan:before {
  content: "\e636";
}

.icon-shuxie:before {
  content: "\e638";
}

.icon-cloud:before {
  content: "\e66d";
}

.icon-bofang2:before {
  content: "\e611";
}

.icon-lianjie:before {
  content: "\e613";
}

.icon-lianjie_huaban:before {
  content: "\e62b";
}

.icon-QQ:before {
  content: "\e61c";
}

.icon-QQ1:before {
  content: "\e67f";
}

.icon-jiantou_xiayiye:before {
  content: "\e6e9";
}

.icon-bofang3:before {
  content: "\e607";
}

.icon-M_pengyou:before {
  content: "\e75d";
}

.icon-tianjiawenjain:before {
  content: "\e608";
}

.icon-tianjiawenjian:before {
  content: "\e6e7";
}

.icon-xinhao:before {
  content: "\e70b";
}

.icon-liebiaoxingshi:before {
  content: "\e863";
}

.icon-liebiao:before {
  content: "\e681";
}

.icon-xinhao1:before {
  content: "\e720";
}

.icon-guanbi:before {
  content: "\e6c9";
}

.icon-sign-review:before {
  content: "\e878";
}

.icon-insert-top-full:before {
  content: "\ea5e";
}

.icon-zhibo:before {
  content: "\e62d";
}

.icon-shoucang:before {
  content: "\e66b";
}

.icon-xihuan1:before {
  content: "\e6ca";
}

.icon-music:before {
  content: "\e65e";
}

.icon-neibusuoxiao:before {
  content: "\e827";
}

.icon-shezhi:before {
  content: "\e6ab";
}

.icon-shanchu1:before {
  content: "\e6a7";
}

.icon-zantingtingzhi:before {
  content: "\e65a";
}

.icon-fenxiang:before {
  content: "\e686";
}

.icon-flower:before {
  content: "\e60a";
}

.icon-plume:before {
  content: "\e60b";
}

.icon-sands:before {
  content: "\e614";
}

.icon-circle:before {
  content: "\e615";
}

.icon-shengyin1:before {
  content: "\e657";
}

.icon-goblet:before {
  content: "\e617";
}

.icon-anemo:before {
  content: "\e618";
}

.icon-cryo:before {
  content: "\e61e";
}

.icon-dendro:before {
  content: "\e61f";
}

.icon-electro:before {
  content: "\e620";
}

.icon-geo:before {
  content: "\e621";
}

.icon-hydro:before {
  content: "\e622";
}

.icon-pyro:before {
  content: "\e623";
}

.icon-amber:before {
  content: "\e626";
}

.icon-weapon:before {
  content: "\e627";
}

.icon-item:before {
  content: "\e62a";
}

.icon-task:before {
  content: "\e62e";
}

.icon-tool:before {
  content: "\e630";
}

.icon-artifact:before {
  content: "\e631";
}

.icon-ore:before {
  content: "\e632";
}

.icon-material:before {
  content: "\e635";
}

